@import url(./component.css);
@import url(./header.css);
@import url(./main.css);
@import url(./section.css);
@import url(./footer.css);

:root {
  --dark-Violet: hsl(256, 26%, 20%);
  --grayish-Blue: hsl(216, 30%, 68%);
  --very-Dark-Violet: hsl(270, 9%, 17%);
  --dark-Grayish-Violet: hsl(273, 4%, 51%);
  --very-Light-Gray: hsl(0, 0%, 98%);
  --primary-font: Karla;
  --secondary-font: DM + Serif + Display;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

@media (max-width: 1170px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1169px) {
  .menu-mobile {
    display: block;
  }
  header {
    position: relative;
  }

  .menu-content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: start;
    z-index: 1;
    background-color: var(--very-Dark-Violet);
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0rem 63rem;;

  }

  .menu-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--very-Light-Gray);
    padding: 2rem;
    align-items: center;
    

  }

  .menu {
    flex-direction: column;
    height: 20rem;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .menu li a {
    color: var(--very-Light-Gray);
    font-size: 3rem;
  }
  .nav {
    margin-top: 6rem;
  }

  nav .a-border{
    border: solid 1px var(--very-Light-Gray);
    padding: 1rem  6rem;
  }

  
  #bkg-topo,
  #bkg-meio {
    display: none;
  }

  main {
    height: auto;
  }

  .menu {
    padding: 2rem;
  }

  .content-main {
    height: auto;
  }

  .content-main-bkg {
    display: flex;
    justify-content: center;
  }

  .content-main-bkg img {
    max-width: 100%;
  }

  .show-case {
    flex-direction: column-reverse;
    margin-bottom: 0;
    gap: 0;
  }

  .content-main-text {
    background-color: var(--dark-Violet);
    text-align: center;
  }

  .content-main-text div {
    height: 55rem;
    margin: 2rem;
    padding: 1rem;
  }

  .content-main-text div h1 {
    font-size: 6rem;
  }

  .content-main-text div p {
    font-size: 2rem;
    line-height: 3rem;
  }

  .content-main-text hr {
    display: none;
  }

  .different {
    text-align: center;
    margin-top: 10rem;
  }

  .different hr {
    display: none;
  }

  .different-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .different-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
  }

  .different-content div p {
    font-size: 2rem;
    line-height: 3rem;
    padding: 2rem;
  }

  .work {
    flex-direction: column;
    height: auto;
    background-image: none;
  }

  .work div {
    text-align: center;
  }

  .work div h2 {
    font-size: 4rem;
  }

  .footer-nets {
    flex-direction: column;
    margin: 2rem;
  }
  .footer-content hr {
    width: 90%;
    margin: 0 auto;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin-bottom: 4rem;
  }

  .tertiary-content {
    height: auto;
  }
}
