@import url(./component.css);
@import url(./header.css);
@import url(./main.css);
@import url(./section.css);
@import url(./footer.css);

:root {
  --dark-Violet: hsl(256, 26%, 20%);
  --grayish-Blue: hsl(216, 30%, 68%);
  --very-Dark-Violet: hsl(270, 9%, 17%);
  --dark-Grayish-Violet: hsl(273, 4%, 51%);
  --very-Light-Gray: hsl(0, 0%, 98%);
  --primary-font: Karla;
  --secondary-font: DM + Serif + Display;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

@media (max-width: 1170px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1169px) {
  .nav,
  #bkg-topo,
  #bkg-meio {
    display: none;
  }

  main {
  }

  .content-main {
    height: 100rem;
  }

  .content-main-bkg {
    display: flex;
    justify-content: center;
  }

  .show-case {
    flex-direction: column-reverse;
    margin-bottom: 0;
    gap: 0;
  }

  .content-main-text {
    height: auto;
    background-color: var(--dark-Violet);
    text-align: center;
    margin-bottom: 4rem;
  }
  .content-main-text hr {
    display: none;
  }

  .footer-links {
    flex-direction: column;
  }
}
