main {
  width: 100%;
  max-width: 1440px;
  height: 90rem;
  margin: 0 auto;
  overflow: hidden;
}
.content-main {
  height: 60rem;
  display: flex;
  justify-content: center;
  background-color: var(--dark-Violet);
  align-items: center;
  position: relative;
}

#bkg-topo {
  position: absolute;
  right: 0;
  top: -7rem;
}

.show-case {
  display: flex;
  margin-bottom: -26rem;
  gap: 2rem;
}

.content-main-text {
  width: 100%;
  display: flex;
  flex: 1;
}
.content-main-text div hr {
  width: 31%;
}

.content-main-text div h1 {
  font-size: 7rem;
  line-height: 6rem;
  color: var(--very-Light-Gray);
  margin-top: 7rem;
}

.content-main-text div p {
  color: var(--very-Light-Gray);
  margin-top: 2.4rem;
  line-height: 2.6rem;
  font-family: var(--primary-font);
}

#view-plans {
  background: transparent;
  border: solid 1px var(--very-Light-Gray);
  color: var(--very-Light-Gray);
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
}
#view-plans:hover {
  background-color: var(--very-Light-Gray);
  color: var(--dark-Violet);
  cursor: pointer;
  transition: 0.2s;
}
